<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
         "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.ac.mju.mapper.CourseMapper">
    
    <select id="listAll" resultType="kr.ac.mju.model.Course">
    
    SELECT * FROM COURSE
            
    </select>
    <select id="getCourse" parameterType="int" resultType="kr.ac.mju.model.Course">
    
    SELECT * FROM COURSE where CID = #{cid}
            
    </select>
    <select id="listInstructor" parameterType="int" resultType="kr.ac.mju.model.Course">
    
    SELECT * FROM COURSE where INSTRUCTOR = #{instructor}
            
    </select>
    <select id="listCollegeCourse" parameterType="int" resultType="kr.ac.mju.model.Course">
    
    SELECT * FROM COURSE where COLLEGE = #{college}
            
    </select>
    <select id="listDeptCourse" parameterType="int" resultType="kr.ac.mju.model.Course">
    
    SELECT * FROM COURSE where DEPT = #{DEPT}
            
    </select>
    <update id="update" parameterType="kr.ac.mju.model.Course">
        
        UPDATE Course SET
        NAME = #{name},
        UNIT = #{unit},
        INSTRUCTOR = #{instructor},
        DEPT = #{dept},
        COLLEGE = #{college}
        WHERE CID = #{cid}
        
    </update>
    
    <insert id="create" parameterType="kr.ac.mju.model.Course">
        
        INSERT INTO COURSE (CID, SID, NAME, UNIT, INSTRUCTOR, YEAR, DEPT, COLLEGE, MAX, GRADE, INST_NAME)
        VALUES (#{cid}, #{sid}, #{name}, #{unit}, #{instructor},#{year}, #{dept}, #{college}, #{max}, #{grade}, #{inst_name})
        
    </insert>
    
</mapper>