<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
         "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.ac.mju.mapper.SubjectMapper">
    
    <select id="listAll" resultType="kr.ac.mju.model.Subject">
    
    SELECT * FROM SUBJECT
            
    </select>
    
    <select id="getSubject" parameterType="int" resultType="kr.ac.mju.model.Subject">
    
    SELECT * FROM SUBJECT where SID = #{sid}
            
    </select>
    
    <update id="update" parameterType="kr.ac.mju.model.Subject">
        
        UPDATE SUBJECT SET
        NAME = #{name},
        UNIT = #{unit}
        WHERE SID = #{sid}
        
    </update>
    
    <insert id="create" parameterType="kr.ac.mju.model.Subject">
        
        INSERT INTO SUBJECT (SID, NAME, UNIT) VALUES (#{sid}, #{name}, #{unit})
        
    </insert>
    
</mapper>