@CHARSET "UTF-8";

.inputTable { border-width:1px; border-style:solid; border-color:#4183D7 }
.titleTD { border-spacing:0px; padding:0px; background:#89C4F4 }
.inputTD { border-spacing:0px; padding:0px; background:#FFFFFF }
