<?xml version="1.0" encoding="UTF-8"?>
	<!-- Handler Mapping -->
	<!-- 
	<beans:bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<beans:property name="mappings"
			value="/login.jsp=loginFormController">
		</beans:property>
	</beans:bean>
	-->
	<!-- Controller -->
	<!-- 	
	<beans:bean id="loginFormController" class="control.loginFormController" >
		<beans:property name="hacksa">
			<beans:ref bean="hacksa"/>
		</beans:property>
		<beans:property name="loginValidator">
			<beans:ref bean="loginValidator"/>
		</beans:property>
	</beans:bean>
	-->